/* .Barber-container{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(/static/media/backgroundpicture.959c450b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
    margin-bottom: 60px;

} */
.Barber-section{
    color: var(--white);
    display:flex;
    padding-top:70px;
    flex-direction: column;
}
.Barber-section h1{
    color:var(--white);
}

.Barber-section ul{
    padding-left:10px;
}

.Barber-section p {
    margin: 0;
    font-size: 18px;
}
.Barber-section ul li{
    list-style: none;
    text-align: left;
    padding:0
}
.Barber-section a {
    margin-top:8px;
    font-size: 22px;
    text-decoration: none;
    color:white
}
.Barber-section a:hover,
.Barber-section a:active{
    color: rgba(255, 0, 0, 0.502)
}
.Barber-wrapper{
    margin-top:5px;
}