.profile-container{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(/static/media/backgroundpicture.959c450b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;

}
.profile-section{
    color: silver;
    margin-top:55px;
    display:flex;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    flex-direction: column;
    align-content:center;
    text-align: left;
}
.profile-section form{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
.profile-section .submit-haircut{
   margin-top:50px;
   padding:35px;
}
.profile-section button{
    margin:3px;
}
.profile-section p {
    font-size: 12px;
}
.profile-section  h1  {
    color:white;
}
.profile-section  h2  {
    color:white;
}
    

