.ServiceMenu-container{
    display: flex;
    height:100%;
    width: 100%;
    background-image: url(/static/media/backgroundpicture.959c450b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
    margin-bottom:60px;

}
.Service-menu-list{
    color: silver;
    justify-content: center;
    display:flex;
    height: 100%;
    line-height: 1.5;
    flex-direction: column;
    align-content:center;
    text-align: left;
}
.Service-menu-list h1{
    color:white;
}
.Service-menu-list ul{
    padding-left:10px;
}
.Service-menu-list ul li{
    list-style: none;
    text-align: left;
    padding:0
}

 