.loginPage{
    display: flex;
    /* height: 100%; */
    width: 100%;
    background-image: url(/static/media/backgroundpicture.959c450b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
    margin-bottom: 60px;

}
.login-section {
    color: white;
    justify-content: center;
    display:flex;
    height: 100%;
    line-height: 1.5;
    flex-direction: column;
    align-content:center;
    text-align: left;
}
form{
     height: 100%;
    width: 340px;
    border-radius: 5px;
}
input{
    width: 90%;
    padding: 10px 11px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
button:hover {
  opacity: 0.8;
}
