.loginPage{
    display: flex;
    width: 100%;
    background-image: url(/static/media/backgroundpicture.959c450b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
    

}
.login-section {
    color: white;
    justify-content: center;
    display:flex;
    height: 100%;
    line-height: 1.5;
    flex-direction: column;
    align-content:center;
    text-align: left;
}

/* input{
    width: 90%;
    padding: 10px 11px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
button:hover {
  opacity: 0.8;
} */
.submit-login-section{
    display: flex;
     justify-content: space-evenly;
    align-items: center;
}
.login-section button {
    padding: 7px 50px;
    margin: 10px;
    font-size: 22px;
}
.login-section  a{
    text-decoration: underline;
    color:white;
    font-size:22px;
    font-weight: 600;
}

.login-section a:hover{
    color: rgba(255, 0, 0, 0.502)
}
