footer{
   background-color: rgba(170, 167, 167);
    text-align: left;
    /* padding: 25px; */
    position: fixed;
    left: 0;
    bottom: 0;
    height: 110px;
    width: 100%;
}
.footer-container {
    /* margin-top: 20px; */
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    align-items: left;
    padding: 0 1rem;
}
.footer-container ul {
    color:white;
    padding: 0;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}